<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">
  <springProfile name="production, prd">
    <appender name="VARLOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
      <layout class="ch.qos.logback.classic.PatternLayout">
        <Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{28} - %msg%n</Pattern>
      </layout>
      <file>/var/log/prokimedo/ProKimedO_Standards.log</file>
      <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
        <fileNamePattern>/var/log/prokimedo/ProKimedO_Standards_%d.log.%i</fileNamePattern>
        <maxHistory>10</maxHistory>
        <totalSizeCap>120MB</totalSizeCap>
        <maxFileSize>12MB</maxFileSize>
      </rollingPolicy>
      <append>true</append>
    </appender>

    <root level="INFO">
      <appender-ref ref="VARLOG" />
    </root>
  </springProfile>

  <springProfile name="development, dev">
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
      <encoder>
        <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
      </encoder>
    </appender>

    <root level="INFO">
      <appender-ref ref="STDOUT" />
    </root>
  </springProfile>

</configuration>



  <!--
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <layout class="ch.qos.logback.classic.PatternLayout">
      <Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
    </layout>
  </appender>

  <logger name="de.prokimedo" level="TRACE"/>
  -->

  <!--

  <appender name="VARLOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <layout class="ch.qos.logback.classic.PatternLayout">
      <Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{28} - %msg%n</Pattern>
    </layout>
    <file>/var/log/prokimedo/ProKimedO_Standards.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
      <fileNamePattern>/var/log/prokimedo/ProKimedO_Standards_%d.log.%i</fileNamePattern>
      <maxHistory>10</maxHistory>
      <totalSizeCap>120MB</totalSizeCap>
      <maxFileSize>12MB</maxFileSize>
    </rollingPolicy>
    <append>true</append>
  </appender>

  <logger name="de.prokimedo" level="INFO"/>
  -->


  <!--
  <root level="INFO">
    <appender-ref ref="VARLOG" />
  </root>
</configuration>
  -->

